.puja__modal {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
}

.puja__image { 
    /*
    height: 400px; 
    width: 100%;
    border-radius: 10px;
    */
    width: 100%;
    border-radius: 10px;
    height: 340px;
}

.puja__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem; /*1.2rem*/ 
    font-weight: 700;
}
